@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;700&display=swap');
:root {
  --cubicBounce: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

/* #0E0D0F - Rich Black
#13031C - Xiketic
#47205C - Russian Violet
#5D3573 - Eminence
#8549A6 - Royal Purple
#009AFF - Dodger Blue
#BO1A65 - Jazzberry Jam
#FF3298 - Rose Bonbon
#F799C8 - Kobi
#F8EDEB - Seashell */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  background: #f8edeb;
  font-family: 'Quicksand', sans-serif;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
  width: 100%;
  padding: 5px 3em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 300ms ease;
  /* transition: all 300ms cubic-bezier(0.785, 0.135, 0.15, 0.86); */
}
.burger {
  display: none;
  font-size: 28px;
  color: #0e0d0f;
  cursor: pointer;
  transition: all 300ms ease;
}

nav .logo img {
  height: 90px;
  transition: all 300ms ease-in;
}
nav .logo img:hover {
  transform: scale(1.05);
}
.navList {
  transition: all 300ms ease;
}
.navList ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navList ul li {
  margin: 0 1.2vw;
}
.navList ul li a {
  padding: 0.5em 0.65em;
  color: #0e0d0f;
  font-size: 0.9em;
  font-weight: 500;
  letter-spacing: 0.15em;
  transition: all 300ms ease-in;
}

.navList ul li:last-of-type a {
  background: #ff3298;
  border-radius: 8px;
  border: 1px solid transparent;
}

.navList ul li:last-of-type a:hover {
  border-color: #ff3298;
  background: transparent;
}

main {
  /* min-height: 100vh; */
  padding-top: 6em;
}

main header {
  height: 80vh;
  padding: 0 4em;
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
main header::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  height: 100%;
  width: 100%;
  background: linear-gradient(
    to bottom,
    rgba(248, 237, 235, 1),
    rgba(248, 237, 235, 0.5),
    transparent 42%
  );
}
main header::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.19);
}
header .title {
  position: relative;
  z-index: 3;
  color: #f8edeb;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
  filter: drop-shadow(0 2px 3px #000);
}

header .title p {
  display: inline-block;
  padding: 0 15px;
  margin-bottom: 20px;
  /* font-size: 3rem; */
  /* font-size: clamp(1.8rem, 1.1617rem + 2.0426vw, 3rem); */
  font-size: clamp(2.3rem, 1.1617rem + 2.0426vw, 3.5rem);
  background-color: rgba(71, 32, 92, 0.4);
  border-radius: 8px;
}
header .title h1 {
  margin-right: 30px;
  padding: 0 15px 0 30px;
  /* font-size: 4.5rem; */
  /* font-size: clamp(2.8rem, 2.1617rem + 2.0426vw, 4rem); */
  font-size: clamp(3.3rem, 2.1617rem + 2.0426vw, 4.5rem);
  background-color: rgba(71, 32, 92, 0.4);
  border-radius: 8px;
}
header .title .links {
  width: 100%;
  padding-right: 30px;
  margin-top: 30px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
header .title .links a {
  width: 13vw;
  min-width: 200px;
  padding: 0.5em 0;
  background: #ff3298;
  color: #f8edeb;
  font-weight: 500;
  font-size: clamp(1.55rem, 1.0968rem + 0.1702vw, 2rem);
  text-align: center;
  border-radius: 8px;
  transition: all 300ms ease-in;
}
header .title .links a:hover {
  background: #47205c;
  color: #ff3298;
}

.swiper {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.swiper-slide img {
  /* max-width: 100%; */
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: top;
}

.bottomBorder {
  position: absolute;
  bottom: -100px;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100px;
  background: #ff3298;
}
.bottomBorder::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 100%;
  height: 15px;
  background: #47205c;
}

section.aboutMain {
  /* min-height: 80vh; */
  position: relative;
  padding: 16em 3em 8em;
  display: flex;
  justify-content: center;
  align-items: center;
  /* overflow: hidden; */
}

.aboutMain .leftBottom {
  width: 50%;
  height: 100%;
}
.aboutMain .leftBottom h2 {
  font-size: clamp(1.75rem, 1.2181rem + 1.7021vw, 2.75rem);
  padding-left: 0.5em;
}
.aboutMain .leftBottom p {
  margin: 1em 0 2.5em;
  max-width: 90%;
  line-height: 1.55;
  /* font-size: 1.1rem; */
  font-size: clamp(0.89rem, 0.7783rem + 0.3574vw, 1.1rem);
}
.aboutMain .leftBottom a {
  padding: 0.5em 1em;
  background: #ff3298;
  color: #f8edeb;
  font-weight: 500;
  font-size: clamp(1.15rem, 1.0968rem + 0.1702vw, 1.25rem);
  border-radius: 8px;
  transition: all 300ms ease-in;
}
.aboutMain .leftBottom a:hover {
  background: #47205c;
  color: #ff3298;
}
.aboutMain .rightTop {
  width: 50%;
  height: 100%;
  /* background-color: red; */
}
.aboutMain .rightTop .cont {
  position: relative;
}
.aboutMain .rightTop .cont .boxPink {
  position: absolute;
  top: 0;
  left: -20px;
  z-index: -1;
  height: 100%;
  width: 98%;
  transform: rotate(8deg);
  background: #ff3298;
  border-radius: 4px;
}
.aboutMain .rightTop .cont .boxPurple {
  position: absolute;
  top: 0;
  left: -20px;
  z-index: -2;
  height: 100%;
  width: 102%;
  transform: rotate(12deg);
  background: #47205c;
  border-radius: 4px;
}
.aboutMain .rightTop .cont .aboutMainImg {
  /* width: 350px; */
}
.aboutMain .rightTop .cont .aboutMainImg img {
  display: block;
  max-width: 100%;
  border-radius: 8px;
  transform: rotate(4deg);
}

section.bakeshopMain {
  position: relative;
  /* min-height: 100vh; */
  padding: 12em 3em 3em;
}

.bakeshopMain h2 {
  margin-bottom: 0.5em;
  font-size: clamp(2.3rem, 1.6617rem + 2.0426vw, 3.5rem);
  text-align: right;
}

.bakeshopMain .imgGrid {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.bakeshopMain .imgGrid a {
  position: relative;
  width: 32%;
  height: 300px;
  border-radius: 4px;
  overflow: hidden;
}
.bakeshopMain .imgGrid .events {
  background-image: url('https://images.unsplash.com/photo-1581978392302-136a082482e5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1769&q=80');
  background-size: cover;
}
.bakeshopMain .imgGrid .weddings {
  background-image: url('https://images.unsplash.com/photo-1525956570400-207225f50dd6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80');
  background-size: cover;
}
.bakeshopMain .imgGrid .specialty {
  background-image: url('https://images.unsplash.com/photo-1518047601542-79f18c655718?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80');
  background-size: cover;
}
.bakeshopMain .imgGrid a .content {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  transform: scale(0);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #0e0d0f;
  background: rgba(255, 50, 152, 0.75);
  border-radius: 2px;
  transition: all 300ms var(--cubicBounce);
}
.bakeshopMain .imgGrid a .content span {
  width: 100%;
  padding: 0.25em 0;
  font-size: clamp(1.5rem, 1.367rem + 0.4255vw, 1.75rem);
  text-align: center;
  background: rgba(248, 237, 235, 1);
  color: #000;
}
.bakeshopMain .imgGrid a:hover .content {
  transform: scale(1);
}
.bakeshopMain .imgGrid img {
  display: block;
  max-width: 100%;
  border-radius: 4px;
}

footer {
  margin-top: 3em;
  padding: 3em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 2px solid #0e0d0f;
}
footer .info {
  font-size: 13px;
}
footer .social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
footer .social a {
  font-size: calc(1.25rem + ((1vw - 0.52px) * 0.3212));

  color: #0e0d0f;
  transition: all 300ms ease-in;
}

footer .social a:hover {
  color: #ff3298;
}
footer img {
  width: 160px;
  transition: all 300ms ease;
}

footer img:hover {
  transform: scale(1.05);
}
footer span {
  display: block;
}
footer .info span:first-of-type {
  margin: 4px 0;
  font-size: 1rem;
  font-weight: 700;
}
footer .cred a {
  color: #000;
  transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
}
footer .cred a:hover {
  color: #fc440e;
}
.rights {
  position: relative;
  font-size: 1rem;
}

@media (max-width: 1000px) {
  section.aboutMain {
    flex-direction: column-reverse;
  }
  .aboutMain .leftBottom {
    width: 100%;
  }
  .aboutMain .rightTop {
    width: 80%;
    margin-bottom: 5em;
  }
  .bakeshopMain .imgGrid {
    flex-direction: column;
  }
  .bakeshopMain .imgGrid a {
    width: 80%;
    margin: 0;
  }
}
@media (max-width: 955px) {
  .burger {
    display: block;
  }
  .navList {
    position: fixed;
    top: 100px;
    left: 0;
    height: 50%;
    width: 100%;
    transform: translateY(-150%);
    background: #f8edeb;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .navList ul {
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .active {
    transform: translateY(0);
  }
}
@media (max-width: 768px) {
  section.aboutMain {
    padding: 12em 1em 6em;
  }

  section.bakeshopMain,
  main header {
    padding-right: 0;
    padding-left: 0;
  }
  main header {
    padding-bottom: 3em;
    align-items: flex-end;
  }
  main header .title {
    width: 100%;
  }
  main header .title h1 {
    margin-right: 0;
    padding: 0;
  }
  .aboutMain .rightTop .cont .boxPink,
  .aboutMain .rightTop .cont .boxPurple {
    left: 0;
  }
  .aboutMain .rightTop {
    width: 100%;
  }
  .bakeshopMain .imgGrid a {
    width: 100%;
  }
  .bakeshopMain .imgGrid a .content {
    transform: scale(1);
    background: transparent;
  }
  .bakeshopMain .imgGrid a .content span {
    background: rgba(248, 237, 235, 0.75);
    color: #000;
    text-decoration: underline;
  }
  nav,
  footer {
    padding-left: 0.5em;
    padding-right: 0.5em;
  }
  footer img {
    width: 120px;
  }
}
@media (max-width: 456px) {
  .aboutMain .rightTop .cont .boxPurple {
    width: 98%;
  }

  footer {
    padding: 1.5em;
    flex-direction: column;
    justify-content: center;
  }
  footer img {
    margin: 8px 0;
    width: 130px;
  }
}
@media (max-width: 374px) {
  main header .title p {
    margin-bottom: 5px;
  }
}
